@import url('https://www.fontspace.com/dragonlord-font-f86336');

.container-fluid {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-position: center;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url('https://www.cocomotos.com.uy/IMG/Facestone/MapaVersion5.png');
}

.card {
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.7) !important;
  border: none;
}

.card-header {
  border-bottom: 1px solid #ffc312;
}

#facestone-h1 {
  text-align: center;
  font-family: 'DRAGON HUNTER', sans-serif;
  color: white;
  font-size: 2rem;
}

.card-header h3 {
  color: white;
  display: inline-block;
}

.card-header img {
  width: 80px;
  float: right;
}

.input-group-prepend span {
  width: 40px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.login_btn {
  color: transparent;
  background-color: #ffc312;
  width: 70px;
  height: 70px;
  border-radius: 20px;
  background-image: url('https://proyectoam.herokuapp.com/imagenes/arrow-front.png');
  background-size: contain;
}

.login_btn:hover {
  background-color: white;
}

.card-footer {
  border-top: 1px solid #ffc312;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
  color: #ffc312;
}

select {
  color: black;
}
