<div class="container-fluid">
  <div class="row">
    <div class="col-1"><h1>Dashboard</h1></div>
    <div class="col-2 offset-9">
      <h1 id="facestone-h1">FACE & STONES</h1>
    </div>
  </div>
  <div class="row">
    <app-users-list class="col-4" [usuarios]="usuarios"></app-users-list>
    <!--<app-centros-list class="col-8" [centros]="centros"></app-centros-list> -->
  </div>
  <div class="footer">
    <div class="col-1" id="logOut">
      <button type="button" (click)="logOut()" class="btn btn-light"></button>
    </div>
  </div>
</div>
